<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victorsquarecity.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--<meta-data-->
    <!--android:name="com.google.android.nearby.messages.API_KEY"-->
    <!--android:value="AIzaSyBz5Oh_igs7cL43fKW_knHN2nVGjLhvxGI" />-->


    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".services.VictorApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"

            android:value="@string/google_maps_key" />
        <!--AIzaSyB065ifhmEtYx5FifR6MM98jZWcPow9rXo-->
        <activity
            android:name="com.victorsquarecity.app.searchresults.SearchResultsActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name="com.victorsquarecity.app.searchresults.DetailsActivity"
            android:label="@string/title_activity_details" />


        <activity
            android:name="com.victorsquarecity.app.home.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.victorsquarecity.app.login.LoginActivity"
            android:label="@string/title_activity_login" />

        <activity
            android:name="com.victorsquarecity.app.home.HomeActivity"
            android:label="@string/title_home" />
        <activity android:name="com.victorsquarecity.app.register.RegisterActivity" />
        <activity android:name="com.victorsquarecity.app.profile.ProfileActivity" />
        <activity android:name="com.victorsquarecity.app.history.HistoryAcitivity" />
        <activity android:name="com.victorsquarecity.app.friends.FriendsAcitivity" />
        <activity android:name="com.victorsquarecity.app.messages.ChatActivity" />
        <activity android:name="com.victorsquarecity.app.login.ForgetActivity" />
        <activity android:name="com.victorsquarecity.app.profile.UpdateProfilePasswordActivity" />
        <activity android:name="com.victorsquarecity.app.profile.UpdateProfileActivity" />
        <activity android:name="com.victorsquarecity.app.login.ResetPasswordActivity" />
        <activity android:name="com.victorsquarecity.app.login.IntroActivity" />
        <activity
            android:name=".filters.ExpandableListMain"
            android:label="@string/app_name" />

        <service
            android:name="com.victorsquarecity.app.utils.jobs.ChatJobService"
            android:label="chat service"
            android:permission="android.permission.BIND_JOB_SERVICE">

        </service>
        <receiver android:name="com.victorsquarecity.app.utils.jobs.ChatServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.victorsquarecity.app.nearby.NearbyActivity"></activity>
    </application>

</manifest>